:root {
  --change-color: red;
}

.App {

}

.quote-box{
  background-color: white;
  width: 70vw;
}

.quote-container{
  padding: 2em !important;
}

.quote-text{
  font-size: xx-large;
  font-weight: 400;
  transition: 2s;
  color: var(--change-color);
}

.quote-author{
  color: var(--change-color);
  transition: 2s;
}

.quote-container button{
  color: white;
  border: none;
  transition: 2s;
  background-color: var(--change-color);
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

.quote-container button:hover{
  opacity: 0.6;
  transition: 1s;
}

.social-button{
  font-size: 3em;
  transition: 2s;
  padding-right: 0.5em;
  color: var(--change-color);
}

.social-button:hover{
  opacity: 0.6;
  transition: 1s;
}